*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #6ab7db;
}

/*inicio formulario*/
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(112, 112, 192, 0.226);
}

h1{
    margin-left: 500px;
}
h2{
    margin-left: 500px;
}

button{
    margin-left: 280px;
}

button2{
    margin-left: 280px;
}
/*fin formulario*/

